<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.ProductDao">
    <update id="updateById">
        update product
        <set>
            <if test="name != null">`name` = #{name}, </if>
            <if test="categoryId != null">category_id = #{categoryId}, </if>
            <if test="type != null">`type` = #{type}, </if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="purchasePrice != null">purchase_price = #{purchasePrice},</if>
            <if test="retailPrice != null">retail_price = #{retailPrice},</if>
            <if test="recentPp != null">recent_pp = #{recentPp},</if>
            <if test="recentRp != null">recent_rp = #{recentRp},</if>
        </set>
        where id = #{id}
    </update>
</mapper>