<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.WarehouseOutputSheetDao">
    <insert id="save" parameterType="WarehouseOutputSheetPO">
        insert into warehouse_output_sheet (id, operator, create_time, `state`, sale_sheet_id)
        values (#{id},#{operator},#{createTime},#{state},#{saleSheetId})
    </insert>

    <select id="getLatest" resultMap="WarehouseOutputSheetPO">
        select * from warehouse_output_sheet order by id desc limit 0,1 ;
    </select>

    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id">
        insert into warehouse_output_sheet_content (wo_id, pid, quantity, sale_price, remark, batch_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.woId},#{item.pid},#{item.quantity},#{item.salePrice},#{item.remark},#{item.batchId})
        </foreach>
    </insert>

    <!--库存查看:一个时间段内的出库数量合计-->
    <select id="getWarehouseOutputProductQuantityByTime" resultType="int">
        select sum(sc.quantity)
        from sale_sheet s,sale_sheet_content sc
        where s.state='审批完成' and s.id=sc.sale_sheet_id and s.create_time>=#{beginTime} and s.create_time &lt;= #{endTime};
    </select>

    <resultMap id="WarehouseOutputSheetPO" type="com.nju.edu.erp.model.po.WarehouseOutputSheetPO">
        <id column="id" property="id"></id>
        <result column="operator" property="operator"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>
</mapper>